:host {
  display: flex;
  place-items: center center;
  gap:20px;

  .page-size-options__page-size-option {

    border-radius: 5px;
    min-width: 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 30px;
    line-height: 30px;
    cursor: pointer;

    &.page-size-options__page-size-option--active {
      border: 1px solid #000;
    }
  }
}
